* {
  box-sizing: border-box;
}

html {
  width: 97.5%;
  height: 97.5%;
}

body {
  background-image: url("../img/bricks-brickwall-brickwork-1092364.jpg");
  background-size: auto;
  width: 100%;
  height: 100%;
  display: flex;
}

#stopwatch {
  width: 100%;
  height: 20%;
  font-size: 20vmin;
  text-align: center;
}

.memory-game {
  width: 100%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(100/3% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.memory-card:active {
  transform: scale(1.2);
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  border-radius: 5px;
  background: maroon;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
